<div class="container">
  <div class="row py-4 border border-secondary rounded">
    <div class="col-2">
      <img [src]="userImageIsExist() ? getUserImageSource() : defaultUserImagePath"
           alt=""
           width="130"
           height="125">
      <button type="button"
              data-toggle="modal"
              data-target="#uploadImageModal"
              (click)="activateUserUpload()"
              class="btn btn-secondary btn-sm d-block w-75 ml-1 mt-1">
        Add image
      </button>
    </div>
    <div class="col-4">
      <div class="user-info">
        <h4>Hello,<br>{{user.username | firstLetterToUpperCase}}</h4>
      </div>
      <br><br>
      <button type="button"
              (click)="setActiveTab(tabMap.cvList)"
              [class.btn-primary]="isActive(tabMap.cvList)"
              [class.btn-outline-primary]="!isActive(tabMap.cvList)"
              class="btn mr-1">
        List of Cv
      </button>
      <button type="button"
              (click)="setActiveTab(tabMap.history)"
              [class.btn-primary]="isActive(tabMap.history)"
              [class.btn-outline-primary]="!isActive(tabMap.history)"
              class="btn mr-1">
        History
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 px-0">
      <app-user-cv *ngIf="isActive(tabMap.cvList)"></app-user-cv>
      <app-history-list *ngIf="isActive(tabMap.history)" [history]="jobsFromHistory"></app-history-list>
    </div>
  </div>
</div>
<app-upload-image-modal></app-upload-image-modal>
