<div class="modal fade"
     id="uploadImageModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="uploadImageModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="uploadImageModalLabel">
          Upload images
        </h5>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="uploadImageForm"
            (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <div class="custom-file">
            <input #fileInput
                   type="file"
                   class="custom-file-input"
                   id="customFile"
                   (change)="handleFileInputChanges()">
            <label class="custom-file-label"
                   for="customFile">
              {{ uploadImageForm.get('file').value || 'Choose image' }}
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button #closeBtn
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal">
            Close
          </button>
          <button type="submit"
                  class="btn btn-primary">
            Upload
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
